<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <h1>{{ city }} </h1>
    <h2>{{ temp }} &#8451;</h2>
    <div style="display: flex;">
        <form action="./discover">
            <input type="submit" value="Check other places"/>
        </form>
        &nbsp;
        <form action=".">
            <input style="background: #dc3545" type="submit" value="Home"/>
        </form>
    </div>
</body>
</html>